@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

.t-root-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ng-star-inserted {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}