<tui-accordion>
  <tui-accordion-item [open]="true">
    Level 1
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to
      develop Taiga UI Angular entities
      <tui-accordion class="tui-space_top-3">
        <tui-accordion-item [open]="true">
          Level 2
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
<tui-accordion>
  <tui-accordion-item [open]="true">
    Level 1
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to
      develop Taiga UI Angular entities
      <tui-accordion class="tui-space_top-3">
        <tui-accordion-item [open]="true">
          Level 2
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
<tui-accordion>
  <tui-accordion-item [open]="true">
    Level 1
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to
      develop Taiga UI Angular entities
      <tui-accordion class="tui-space_top-3">
        <tui-accordion-item [open]="true">
          Level 2
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
<tui-accordion>
  <tui-accordion-item [open]="true">
    Level 1
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to
      develop Taiga UI Angular entities
      <tui-accordion class="tui-space_top-3">
        <tui-accordion-item [open]="true">
          Level 2
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
<tui-accordion>
  <tui-accordion-item [open]="true">
    Level 1
    <ng-template tuiAccordionItemContent>
      Development kit consisting of the low level tools and abstractions used to
      develop Taiga UI Angular entities
      <tui-accordion class="tui-space_top-3">
        <tui-accordion-item [open]="true">
          Level 2
          <ng-template tuiAccordionItemContent>
            The main set of components used to build Taiga UI based Angular
            applications
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
